@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --border: 3px solid #d61f29;
    --shadow: 0px 2px 2px black;;
    --background: #fbd628;
    --background-color: #fbd628;
    --color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: var(--background);
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 33px);
}

.logo {
    margin: 30px;
    width: 260px;
}

#clickFirstTime {
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-data {
    border: var(--border);
    background: var(--background-color);
    border-radius: 3px;
    margin: 0px 30px 30px 30px;
    padding: 10px;
    max-width: 600px;
    min-width: 260px;
    box-shadow: var(--shadow);
}

.quote-text, .quote-author {
    background: var(--background-color);
    color: var(--color);
    margin-bottom: 4px;
}

.quote-text {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
}

.quote-author {
    text-align: end;
    font-weight: 600;
    font-size: 15px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    min-width: 260px;
    margin: 0px 30px 30px 30px;
    width: calc(100% - 60px);
}

.buttons {
    background: var(--background-color);
    color: var(--color);
    border: var(--border);
    border-radius: 3px;
    box-shadow: var(--shadow);
    padding: 10px;
    width: 120px;
    font-size: 1rem;
}


#new-twitt {
    margin-right: 20px;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-img {
    width: 100px;
    display: none;
}

#all-characters {
    display: block;
    width: 260px;
}

.footer {
    text-align: center;
    font-size: 11px;
    padding: 5px;
    color: var(--color);
    min-width: 260px;
}